@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #0b192f;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

a {
	display: inline-block;
}

a:hover {
  opacity: 0.7;
}

/*  HEADER  */

header .container {
  background-color: #162b4d;
}

header .logo {
  margin-left: 2rem;
  padding: 1.5rem 0;
}

header span {
  font-size: 2rem;
  font-weight: 100;
  color: white;
}

header span.text-highlight {
  color: #ea196d;
}

/*  MAIN */

main .container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

article {
  width: 77%;
}

article .single-article {
  display: flex;
  flex-direction: column;
}

.post-1 {
  background-color: #b71757;
}

.post-2 {
  background-color: #0d7e71;
}

.post-3 {
  background-color: #b1660e;
}

.post-4 {
  background-color: #d12767;
}

.post-5 {
  background-color: #2d95bb;
}

article .text-content {
  background-color: white;
  color: black;
  padding: 2rem;
}

article .text-content a {
  color: #ea196d;
}

article .text-content h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

article .text-content h2 {
  font-size: 2rem;
  font-weight: 300;
  padding-top: 2rem;
}

article .text-content span {
  display: block;
  padding-top: 2rem;
  font-size: 1rem;
}

article .date-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  color: white;
  opacity: 0.5;
  padding: 1rem;
}

.date {
  font-size: 3rem;
}

.month {
  font-size: 1.5rem;
}

.year {
  font-size: 1.2rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
}

.video-responsive {
  margin-top: 2rem;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*  ASIDE  */

aside {
  width: 22%;
  font-weight: 300;
}

aside .box:first-child {
  margin-top: 0;
}

aside .box {
  color: black;
  background-color: white;
  padding: 2rem;
  margin-top: 1rem;
}

aside a {
  color: black;
}

aside h2 {
  font-size: 2rem;
}

aside span {
  display: block;
  font-size: 1rem;
  margin: 1rem 0;
  opacity: 0.65;
}

aside hr {
  border-style: inset;
  border-width: 1px;
  opacity: 0.5;
}

footer {
  margin-top: 1rem;
}

footer .container {
  background-color: #162b4d;
}

footer a {
  color: white;
}

footer span {
  display: flex;
  font-weight: 100;
  justify-content: space-between;
  padding: 2rem;
}

@media only screen and (max-width: 1023px) {

  main .container {
    flex-direction: column;
    margin-top: 1rem;
  }

  article {
    width: 100%;
  }

  article .single-article:nth-child(odd) {
    flex-direction: column;
  }

  aside {
    width: 100%;
    font-weight: 300;
  }

  aside .box:first-child {
    margin-top: 1rem;
  }

  article .text-content h1 {
    font-size: 2rem;
  }

  article .text-content h2 {
    font-size: 1.5rem;
  }
}